

/* ROW */
.row {
  margin-bottom: 0em;
}

/* BODY */
body {
  background-color: lightgray;
}

/* MODAL FOR VIDEO PLAY */
.modal-dialog {
      max-width: 800px;
      margin: 30px auto;
  }

.modal-body {
  position:relative;
  padding:0px;
}
.close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
}

/* PADDING FOR THROWING VIDEOS */
.col-howtothrow{
  padding:15px;
}

/* PADDING FOR PRACTICE SECTION */
.col-practice
{
  padding: 15px;
}

/* COLLAPSE TEXT BOX */
.team-collapse{
  border-radius: 15px;
  background: #EFFBEF;
  margin-right: 13px;
  margin-left: 13px;
}

/* COLLAPSE TEXT */
.collapse-text{
  padding:20px;
}

/* TEAM CIRCLE PHOTO */
.circle-photo{
  border-radius: 50%;
  width: 100%;
}

/* TEAM HOVER CIRCLE PHOTO */
.circle-photo:hover{
  opacity: 0.7;
  cursor: pointer;
}

/* CENTER ELEMENT */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* COLLAPSE EXPAND BORDER */
.show_border[aria-expanded=true] {
  padding: 5px;
  background-color: #0B610B;
  margin-bottom: 10px;
}

/* NAVBAR CENTER LOGO */
.logo {
  transform: translateX(-50%);
  border-radius: 50%;
  left: 50%;
  position: absolute;
  width: 90px; /* no height needed ... image will resize automagically */
}

/* PICTURE FOR NAVBAR CENTER LOGO */
.navbar-logo {
  width: 90px;
}ground-image: url("cover.jpg");

/* FULL WIDTH CENTER ELEMENT */
.full-width-image {
  position: relative;
  left: 50%;  
  margin-left: -50vw;

}

/* IMAGE FOR FULL WITH CENTER */
.full-width-image img {
  transform: translateX(-50%);
  left: 50%;
  position: relative;
  margin:0;
  bottom: 0;
  height: 10%;
  width: 100%;
}

/* LIST ELEMENT */
li {
  margin: 0 9px 0 0;
  padding: 0 9px 0 0;
}

/* LIST LAST ELEMENT */
li:last-child {
  border-right: none;
}

/* ROUNDED CORNERS */
#rcorners {
  border-radius: 25px;
  border: 5px solid #73AD21;
  padding: 20px; 
  width: 100%;
  height: 200px;  

}

/*
.file-marker > div {
    padding: 0 3px;
    height: 200px;
    margin-top: -1.7em;
    
}
*/

/* SIGN UP BOX */
.box_div{
  width: fit-content;
  border: 5px solid #0B610B;
  border-radius: 25px;
  margin-top:10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

/* SIGN UP BOX TITLE */
.box_title {
    width: 190px;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
    background: white;
}

/* SECTION SEPARATOR LINE */
.sexy_line{ 
    margin-top:100px;
    margin-bottom:100px;
    display:block;
    border:none;
    color:white;
    height:1px;
    background:#73AD21;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff));
}

/* SIGN UP CIRCLE INSIDE */
.h3_center_circle {
  background-color: white;
  border-radius: 50%;
  padding: 20px;
  width: 150px;
  height: 150px;
  text-align: center;
  word-wrap: break-word;
  position: relative;
}

/* SIGN UP CIRCLE TEXT */
h3 span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 130px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* SIGN UP OUTER CIRCLe */
.h3_outer_circle {
  background-color: #0B610B;
  border-radius: 50%;
  padding: 20px;
  margin-top: 30px;
  width: 180px;
  height: 180px;
  position: relative;
}

/* PUT ELEMENT TO BOTTOM LEFt */
.bottom-left {
  width: fit-content;
  position: relative;
  bottom: 80px;
  margin-left: 30px;
}

/* PUT ELEMENT TO BOTTOM RIGHT */
.bottom-right {
  position: relative;
  position:right;
  bottom: 80px;

}

/* HOVER VIDEO ACTIVITY */
.video-btn{
  cursor: pointer;
}

/* HOVER VIDEO BLUR */
.video-btn:hover .img_blur {
  opacity: 0.7;
}

/* ICON IMPLEMENTATION FOR FACEBOOK AND INSTAGRAM */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  height: 70px;
  text-align: center;
  text-decoration: none;
  margin: 5px 10px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
  color: white;
}

/* FACEBOOK */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* INSTAGRAM */
.fa-instagram {
  background: #125688;
  color: white;
}

/* LANGUAGE CHOICE BUTTONS */
.language_buttons{
    top: 10px;
    right: 20px;
     position: fixed;
     z-index: 999;
}

/* NAVBAR */
.navbar{
   z-index: 1;
}