/* JUMBOTRON */
.jumbotron {
  position: relative;
  padding: 0;
  overflow: hidden;
  background: transparent;
}


.jumbotron-bg {
  position: fixed;
  margin-top: 40px;
  top: 0;
  left: 0;
  z-index: -999;
}

/* ROW */
.row {
  margin-bottom: 0em;
}

body {
  background-color: lightgray;
}

.modal-dialog {
      max-width: 800px;
      margin: 30px auto;
  }

.modal-body {
  position:relative;
  padding:0px;
}
.close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
}

.col-howtothrow{
  padding:15px;
}

.col-practice
{
  padding: 15px;
}

.team-collapse{
  border-radius: 15px;
  background: white;
  margin-right: 13px;
  margin-left: 13px;
}

.collapse-text{
  padding:20px;
}

.circle-photo{
  border-radius: 50%;
  width: 100%;
}

.circle-photo:hover{
  opacity: 0.7;
  cursor: pointer;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.show_border[aria-expanded=true] {
  padding: 5px;
  background-color: red;
  margin-bottom: 10px;
}